// config.json.sample
{
  // NOTE: if not set here, default values will be used instead

  // settings for model
  //"default_model": "mistral-small3.2:24b",
  //"system_instruction": "You are a chat bot which responds to user requests reliably and accurately.",

  // network timeout seconds (for fetching urls, and/or generating responses)
  //"timeout_seconds": 300,
  //"replace_http_url_timeout_seconds": 10,

  //"smithery_api_key": "your-smithery-api-key-here",
}
